*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  margin: 10rem 1rem;
  max-width: 140rem;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 37vw bottom 2vh, left 10vw top 0;
  background-attachment: fixed;
}

.container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1200px;
}

.container .main-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .content__description {
  width: 37%;
  padding: 2rem;
}

.container .main-content .content__title {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  color: #502050;
  margin-bottom: 1rem;
}

.container .main-content .content__text {
  font-size: 1.5rem;
  color: #937b92;
}

.container .main-content .content .rating {
  width: 50%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-content .content .rating__item {
  background: #f7f2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 2rem;
}

.container .main-content .content .rating__item:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .main-content .content .rating__item:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container .main-content .content__rating-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  list-style: none;
  background: #f7f2f7;
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
}

.container .main-content .content__review {
  font-size: 1.5rem;
  color: #502050;
  font-weight: 600;
  margin-left: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .container .main-content .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .container .main-content .content__description {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .container .main-content .content__title {
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .container .main-content .content__text {
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .container .main-content .content .rating {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .container .main-content .content .rating__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container .main-content .content .rating__item:nth-child(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .container .main-content .content .rating__item:nth-child(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.testimonial-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-cards .card {
  margin-top: 1.5rem;
  background: #502050;
  padding: 3rem;
  width: 31%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.testimonial-cards .card:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  top: 2rem;
}

.testimonial-cards .card:nth-child(3) {
  justify-self: flex-end;
  position: relative;
  top: 3.5rem;
}

.testimonial-cards .card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.testimonial-cards .card__photo {
  border-radius: 50%;
  width: 5rem;
  margin-right: 2rem;
}

.testimonial-cards .card__detail {
  margin-right: auto;
}

.testimonial-cards .card__user-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.testimonial-cards .card__user-verified {
  font-size: 1.5rem;
  color: #ee68a4;
  opacity: 0.5;
}

.testimonial-cards .card__text {
  font-size: 1.5rem;
  color: #f7f2f7;
  margin-top: 2rem;
  width: 90%;
}

@media screen and (max-width: 1100px) {
  .testimonial-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .testimonial-cards .card {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */